# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Data
data/gtfs_static/
data/processed/

# Logs
logs/*.log

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
